<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h2 style = "text-align:center">PRUTHVI RAJ MUTHYAM</h2>
<h2 style = "text-align:center">1001400715</h2>
<hr>
<!--
<form action = "/uploadData" method = "POST" enctype="multipart/form-data">
    <input type = "submit" name="login" value="upload data"/>
     <p>{{msg}}</p>
</form>

<hr>
-->
<form action = "/calorieRange" method = "POST" enctype="multipart/form-data">
    
         <input type="text" name="creator" placeholder = "Enter a description"/>
    
    <input type = "submit" name="login" value="submit"/>
        


</form>
<!--
<hr>
<form action = "/rename" method = "POST" enctype="multipart/form-data">
    
         <input type="text" name="desc" placeholder = "Enter a description"/>
         <input type="text" name="rename" placeholder = "Enter a name to replace"/>
    
    <input type = "submit" name="login" value="submit"/>
        


</form>
<hr>
<form action = "/que2" method = "POST" enctype="multipart/form-data">

         <input type="text" name="year1" placeholder = "Enter a start year"/>
    <input type="text" name="year2" placeholder = "Enter an end year"/>
    <input type = "submit" name="login" value="submit"/>
         


</form>
-->
<!--
<hr>
<h3 style = "text-align:center">change ingredient name</h3>
<form action = "/ingName" method = "POST" enctype="multipart/form-data">

         <input type="text" name="ing-old" placeholder = "Enter a ingrdient name"/>
    <input type="text" name="ing-new" placeholder = "Enter a new ingredient name"/>
    <input type = "submit" name="login" value="submit"/>
    <p>{{mess}}</p>
         


</form>
<hr>
<h3 style = "text-align:center">Display containing particular ingredient name</h3>
<form action = "/ingDisplay" method = "POST" enctype="multipart/form-data">

         <input type="text" name="ing" placeholder = "Enter a ingrdient name"/>
    
    <input type = "submit" name="login" value="submit"/>
    
         


</form>
<hr>
<h3 style = "text-align:center">Delete foods greater than calorie value</h3>
<form action = "/delShow" method = "POST" enctype="multipart/form-data">

         <input type="text" name="cal-del" placeholder = "Enter a calorie value"/>
    
    <input type = "submit" name="login" value="submit"/>
    
         


</form>
-->
</body>
</html>